# Ansible specific
*.retry
*.pyc
__pycache__/

# Private keys and secrets
*.pem
*.key
**/vault_pass.txt
**/id_rsa
**/id_rsa.pub
**/authorized_keys
docker/ssh/*
.ssh/
**/ssh/
docker/ssh/traum/id_rsa
docker/ssh/traum/id_rsa.pub

# Environment specific
.env
.venv/
venv/
*.env

# Editor specific
.vscode/
.idea/
*.swp
*~

# OS specific
.DS_Store
Thumbs.db

# Temp files
*.log
*.tmp
